.collage{
	display: inline;
	width: -moz-available;
}

.collage img{
	height: 6%;
	width: 6%;
}

.collage h3{
	margin: 0% 0 0 30%;
}

ul{
	margin-left: 80%;
}

li{
	list-style-type:none;
	display: inline;
	margin-left: 10	%;
}

.MACS{
	background-color: #ADD8E6;
}

.MACS p{
	padding:1%;
}

.MACS img{
	margin-left: 44%;
	height: 12%;
	width: 12%;
}

p{
	text-align: center;
}

.product{
	background-color: #808080;
}

.product_img img{
	height: 50%;
	width: 50%;
}

td{
	text-align: center;
}

.contact div{
	display: inline-block;
}

.con_detail{
	margin-left: 20%;
}

footer{
	color: white;
	background-color: black;
	padding: 1%;
	text-align: center;
}