html{
	padding: 2%;
}
header{
	position: fixed;
	width: 1280px;
	padding: 2%;
	border: 2px solid black;
	box-shadow: 5px 12px #888888;
}
header>img{
	height: 6%;width: 6%;
	float: left;
}
header h2{
	color: red;
	margin: 3% 0 0 30%;
}
header button{
	height: 6%;
	width:5%;
	margin: 0 4% 0 0;
	float: right;
}
.banner{
	position: absolute;
	margin: 15% 5% 0 0;
	right: 0;
}

.arr_box{
	position: absolute;
	margin: 25% 5% 0 0;
}
.arr_box div{
	border: 2px solid black;
	height: 10%;
}